<h1>Register</h1>
<form action="/home/register" method="post">
    <table>
        <tr>
            <td>UserName</td>
            <td><input name="username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input name="confirmPassword" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input name="email" /></td>
        </tr>
        <tr>
            <td>City Name</td>
            <td><input name="cityName" /></td>
        </tr>
        <tr>
            <td>Job Begin Date</td>
            <td><input name="jobBeginDate" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>